# EditorConfig: https://EditorConfig.org
#
#     Atom plugin: https://atom.io/packages/editorconfig
#     Sublime plugin: https://github.com/sindresorhus/editorconfig-sublime
#     Vim plugin: https://github.com/editorconfig/editorconfig-vim
#     Emacs plugin: https://github.com/editorconfig/editorconfig-emacs
#     VSCode plugin: https://github.com/editorconfig/editorconfig-vscode

# top-most EditorConfig file
root = true

[*]
end_of_line = lf # Unix-style newlines

[CMakeLists.txt]
trim_trailing_whitespace = true

# C/C++
[*.{cpp,c,h,hpp}]
max_line_length = 100
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# Python files
[*.py]
max_line_length = 100
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# bash
[*.sh]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
